doctype html
html
    head
        title= title
    body
        div#screen
        script.
            let ws = new WebSocket('ws://localhost:47374');
            // Event emmited when connected
            ws.onopen = function () {
              console.log('websocket is connected ...')
              // Sending a send event to websocket server
              ws.send('connected')
            }
            // Event emmited when receiving message
            ws.onmessage = function (ev) {
              console.log(ev.data);
              document.getElementById('screen').style.backgroundImage = 'url(\'' + ev.data + '\')';
              document.getElementById('screen').style.display = 'block';
            }

        style.
            html, body {
                margin: 0;
                padding: 0;
                background: #000;
            }

            #screen {
                width: 100vw;
                height: 100vh;
                display: none;
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }