doctype html
html
    head
        title= title
    body
        h1= message
        img(src=gifUrl)
        script.
            var ws = new WebSocket('ws://localhost:47374');
            // Event emmited when connected
            ws.onopen = function () {
              console.log('websocket is connected ...')
              // Sending a send event to websocket server
              ws.send('connected')
            }
            // Event emmited when receiving message
            ws.onmessage = function (ev) {
              console.log(ev);
            }